2. Customer Support Workflow/Workflow.json
{
  "name": "Customer Support Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        392
      ],
      "id": "97a9f5a9-0202-4e4f-8a5e-3f54e59fd5a4",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "U18F6Jitldif9HM5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "An email that is related to helping out a customer, They may be asking questions about our policies or questions about our products or services."
            },
            {
              "category": "Other",
              "description": "Any email that is not customer support related."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        224,
        392
      ],
      "id": "878574c9-e63a-4fe9-9c2d-f1e87e987941",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        296,
        616
      ],
      "id": "aefc5296-4834-4cc3-8188-984da3a7da5e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "bdtb5N8RU0fSrMTH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        712,
        592
      ],
      "id": "3c0c990f-9379-47ce-bfcf-62db45bc46e1",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=#Overview\nYou are a customer support agent for Zenspace. You job is to repons to incoming emails with relvant information using your knowledgeBase tool.\n\n## Instructions\n- Your output should be friendly and use emojis\n- Sign off as Mr. Helpful from Zenspace \n\n## Output\n- Output only the body content of the email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        608,
        -16
      ],
      "id": "4938b1db-229a-4f36-9fff-462596755fc8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        576,
        208
      ],
      "id": "f7a6a7c3-23f5-40a4-9639-8045c1f1ea06",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "bdtb5N8RU0fSrMTH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this to access the policy and FAQ information",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag",
          "mode": "list",
          "cachedResultName": "rag"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        704,
        208
      ],
      "id": "1ff03836-7cc5-42f1-927f-7c37d8d8974e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "iVK7rotcvm6vFM9D",
          "name": "account - 1"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        416
      ],
      "id": "2ab2c603-8a60-40a8-9cfa-c7d354673048",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "SxsTRwHBnMWexYmi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1296,
        192
      ],
      "id": "a3bc9ffa-88e9-47ca-936f-0fbe3236c4fe",
      "name": "Reply to a message",
      "webhookId": "1944cd40-0f47-4fd2-880f-fe1c700c8c18",
      "credentials": {
        "gmailOAuth2": {
          "id": "U18F6Jitldif9HM5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_3654751117799766196"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1072,
        192
      ],
      "id": "a65c8bb1-9c0d-4376-a65b-39c3b69336c6",
      "name": "Add label to message",
      "webhookId": "d5e68646-7ca5-4e62-bdad-d384c6d67a71",
      "credentials": {
        "gmailOAuth2": {
          "id": "U18F6Jitldif9HM5",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1df00a9-8f1f-4fbb-95a6-1b8658723dff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0023dcbe3d7b3d950fda3d78a73114de37ffbec197691a32063cdfd1b7a819e5"
  },
  "id": "Q6sl5yuw637eqZJI",
  "tags": []
}